* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
html {
    font-size: 18px;
}
body {
    font-family: 'poppins', sans-serif ;
    line-height: 1.55;
    color: rgb(0, 0, 0);
    text-align: start;
    width: 100%;
    
    
}
h1 {
    font-size: 4rem;
    
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.226);
    color: rgba(0, 0, 0, 0.932);
    text-align: center;
  
}
h2
{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
}


.contact-details {
    font-weight: 600;
    
}
.contact {
    margin-left: 1rem;
}
#contact {
   margin-top: -0.5rem;
}
.address {
    margin-top: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.dates {
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: end;
    
    
}
.full  {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rosybrown;
   
}



table {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
li {
    margin-left: 1rem;
    
}
th {
    margin-left: 3rem;
    text-align: start;
}
img {
    border-radius: 50%;
    width: 15rem;
   margin-left: 2rem;
   margin-top: 2rem;
   


    
}
.header2 {
    margin-bottom: 3rem;
    margin-top: 10rem;
    
}
.second-half {
    font-size: 18px;
    
    
}
.first-half {
    background-color: grey;
    
}
#lang { margin-left: 1rem;
margin-top: 1rem;}

.second-details {
    margin-left: 1rem;
}
#reference {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* responsive  */
@media screen and (max-width: 600px) {
    .second-details {
        margin-top: -4rem;
    }
    h1 {
        font-size: 1rem;
        text-align: center;
    }
    h2 {
        font-size: 1rem;
        margin-top: -2px;
    }
    img {
        margin-right: 1.75rem;
    }

        
}


@media screen and (max-width: 800px) {
    .second-details {
        margin-top: -4rem;
    }
    
    h1 {
        font-size: 1rem;
        text-align: center;
    }
    img {
        margin-right: 1.75rem;
    }
    h2 {
        margin-top: -1px;
    }
    
    }



    
